{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Gestion des catégories des tutoriels
{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h4 class="modal-title p-2 text-center" id="exampleModalLabel">
                    <i class="fa fa-list"></i> <span class="modal-dynamic-title">
                        Gestion des catégories des tutoriels
                    </span></h4>
            </div>
            <div class="card-body">
                <div class="float-right mt-2 mb-3">
                    <a class="btn btn-dark btn-lg" href="{{ path('category_new') }}">Ajouter</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.title }}</td>
                            <td style="width: 130px!important;">
                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-warning"
                                           href="{{ path('category_edit', {'id': category.id}) }}"><i
                                                    class="fa fa-edit"></i></a>
                                    </div>
                                    <div class="col">
                                        <form method="post"
                                              action="{{ path('category_delete', {'id': category.id}) }}"
                                              onsubmit="return confirm('Êtes vous sur de bien vouloir supprimer ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ category.id) }}">
                                            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
