{% extends 'base.html.twig' %}

{% block title %}Tutorial index{% endblock %}

{% block body %}
    <h1>Tutorial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tutorial in tutorials %}
            <tr>
                <td>{{ tutorial.id }}</td>
                <td>{{ tutorial.title }}</td>
                <td>{{ tutorial.description }}</td>
                <td>{{ tutorial.url }}</td>
                <td>
                    <a href="{{ path('tutorial_show', {'id': tutorial.id}) }}">show</a>
                    <a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tutorial_new') }}">Create new</a>
{% endblock %}
