{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}
    <h1>Tutorial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutorial.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tutorial.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tutorial.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ tutorial.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tutorial_index') }}">back to list</a>

    <a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">edit</a>

    {{ include('tutorial/_delete_form.html.twig') }}
{% endblock %}
